@font-face {
    font-family:"adam";
    src: url("./fonts/Adam.otf");
   }

body {
    overflow: hidden;
}

.enter {
    width: 1423px;    
    font-family: "adam";
    font-size: 150px;
    line-height: 176px;
    text-align: center;
    letter-spacing: 5.35714px;
    transition: 0.3s transform;
    
    color: #F2F2F2;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.enter:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.enter a {
    text-decoration: none;
    color: inherit;
}
.background {
    width: 100%;
    display: flex;
    background: #1f1e1e;
}

 #img1 {
    width: 50%;
    height: 100vh;
    background: url(./files/realImage1.png);
    background-repeat: no-repeat;
    background-position-x: 75%; 
    background-size: auto 100%;
 }

 #img2 {
    width: 50%;
    height: 100vh;
    background: url(./files/realImage2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }

 #logo {
    width: 316px;
    height: 132px;
    margin-bottom: 50px;
 }

 .entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 1423px/2 + 1.5px);
    bottom: 0;
 }
